/* 
  Clickable Table Source: http://www.srccodes.com/p/article/40/determine-click-position-row-column-number-onclick-table-cell
*/
table {	
    font-size: 1em;
    width: 900px;
    text-align: center;
    cursor:pointer;
}

th {
    background: -moz-linear-gradient(top, #ffffff, #6083AA);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#6083AA));
    border: 5px solid #ddd;    
    padding: 16px;
}

td {
    background: -moz-linear-gradient(top, #ffffff, #d2e9e8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2e9e8));
    border: 5px solid #ddd;
    padding: 16px;
}

td:hover {
    background: -moz-linear-gradient(top, #60839b, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#60839b), to(#ffffff));
}

td:active
{
    background: -moz-linear-gradient(top, #ffffff, #69609b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#69609b));
}

th:hover {
    background: -moz-linear-gradient(top, #468ab8, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#468ab8), to(#ffffff));
}

th:active
{
    background: -moz-linear-gradient(top, #ffffff, #69609b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#69609b));
}