/* 
  Clickable Table CSS Sourced from: 
  URL: http://www.srccodes.com/p/article/40/determine-click-position-row-column-number-onclick-table-cell
*/
table {	
    font-size: 1em;
    width: 900px;
    text-align: center;
    cursor:pointer;
}

th {
    background: -moz-linear-gradient(top, #ffffff, #6083AA);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#6083AA));
    border: 5px solid rgb(0, 0, 0);
    padding: 16px;
}

td {
    background: -moz-linear-gradient(top, #ffffff, #d2e9e8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2e9e8));
    border: 5px solid #ddd;
    padding: 16px;
}

/* 1st column - row color */
tbody>tr>:nth-child(1) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* 2nd column - row color */
tbody>tr>:nth-child(2) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* 3rd column - row color */
tbody>tr>:nth-child(3) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* 4th column - row color */
tbody>tr>:nth-child(4) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* 5th column - row color */
tbody>tr>:nth-child(5) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* 6th column - row color */
tbody>tr>:nth-child(6) {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));
}

/* active cells for row elements */
tbody>tr>:active
{
    color:#000000;
    background: -moz-linear-gradient(top, #ffffff, #c0c249);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#c0c249));
}

/* Active selected header element */
th:active
{
    background: -moz-linear-gradient(top, #c0c249, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c249), to(#ffffff));
}