/* 
  Clickable Table CSS Sourced from: 
  URL: http://www.srccodes.com/p/article/40/determine-click-position-row-column-number-onclick-table-cell
*/

.current-clue {
    color:#000000;
    background: #d8702a;
}

.valid-clue {
    color:#000000;
    background: #9fb79f;
}

.invalid-clue {
    color:#000000;
    background: #cca8b4;
}


#triviaTable {
    font-size: 1em;
    text-align: center;
    cursor:pointer;
    min-width: 768px;
    table-layout: fixed;
    overflow: hidden;
    border: 1;
    border-collapse: collapse;
    padding: 0;
    margin: auto;
}

th {
    background: -moz-linear-gradient(top, #ffffff, #6083AA);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#6083AA));
    border: 5px solid rgb(0, 0, 0);
    width: 110px;
    /* padding: 16px; */
}

td {
    color:#ffffff;
    background: -moz-linear-gradient(top, #3251da, #0220a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3251da), to(#0220a3));

    /* background: -moz-linear-gradient(top, #ffffff, #d2e9e8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#d2e9e8)); */
    border: 5px solid #ddd;
    padding: 16px;
}

/* active cells for row elements */
tbody>tr>:active
{
    color:#000000;
    background: -moz-linear-gradient(top, #ffffff, #c0c249);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#c0c249));
}

/* Active selected header element */
th:active
{
    background: -moz-linear-gradient(top, #c0c249, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c249), to(#ffffff));
}
